{% extends "base.html" %}

{% block header %}
<h1>Digital Scholarship Summer 2019</h1>
{% endblock  %}


<!-- <body>

</body> -->

{% block content %}
<h2>Submit a Question</h2>

<body>
<form action="" method="post">
    {% csrf_token %}
    {% for field in form  %}
      {{ field.label_tag }}
      <br></br>
      {{ field }}
      <br></br>
    {% endfor %}
    <input type="submit" value="Submit">
</form>
<br></br>

<div class="questions-no-a">
  <h2>Unanswered Questions</h2>
    {% for item in all_questions %}
      <li>Question: {{ item.question }}</li>
      <li>Details: {{ item.details }}
      <br></br>
    {% endfor %}
</div>

<div class="questions-a">
  <h2>Answered Questions</h2>
    {% for item in all_answers %}
      <li>Question: {{ item.question }}</li>
      <li>Answer: {{ item.answer_text }}
      <li>Date Published: {{ item.pub_date }}</li>
      <br></br>
    {% endfor %}
</div>


</body>
{% endblock %}
