{% load static %}
<!DOCTYPE html>
<html>
<div id = "container">
<head>
  <title>Liaison Lair</title>
<!-- edit -->
<link rel="stylesheet" href="{% static 'base.css' %}">

</head>


  <div id = "body">
    <body>
      <div id = "header">
	{% block header %}{% endblock %}
      </div>
      {% block navbar %}{% include "nav.html" %}{% endblock %}
<!--      {% block searchbar %}{% include "search.html" %}{% endblock %}-->
      {% block content %}{% endblock content %}
      <div id = "footer"> {% block footer %}{% include "footer.html" %}{% endblock %}</div>
    </body>
  </div>

</html>
</div>
