{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Liaison Lair</title>
<!-- edit -->

<link rel="stylesheet" href="{% static 'base.css' %}">

</head>

<body>
  {% block header %}{% endblock %}

{% block navbar %}
<nav> 
    <ul>
      <li class="home"><a href="http://142.93.183.197">Home</a></li>
      <li class="about"><a class="active" href="#">About Us</a></li>
      <li class="faqs"><a href="#">Frequently Asked Questions</a></li> <!-- add answer functionality -->
   
      <li class="add"><a href="http://142.93.183.197/addquestion/">Ask a Question</a></li>
      <li class="research"><a href="#"> Research Resources</a></li>
      <li class="contact"><a href="#">Contact</a></li>
    </ul>
</nav>
{% endblock %}
    
  {% block content %}
  {% endblock %}
</body>

</html>
