<!DOCTYPE html>
<html>
<body>

<footer>
  <br>
  <br>
  <p>Contact Information: <a href="tel:6108961000">Call us at 610-896-1000</a></p>
</footer>

<p><strongs>&copy;2019 Haverford College Libraries</strongs></p>
      <img src= "img/facebook-wrap.png" alt="facebook logo">
      <img src= "img/twitter-wrap.png" alt="twitter logo">
      <a href= "https://www.facebook.com/hclibraries/"> <img src="img/facebook-wrap.png" alt="Facebook Logo"> </a>
      <a href = "https://twitter.com/hclibraries?lang=en"> <img src= "img/twitter-wrap.png" alt="twitter logo"> </a>

</body>
</html>
