{% extends "base.html" %}


{% block header %}
<h1>Digital Scholarship Summer 2019</h1>
{% endblock  %}
{% block content %}


{% if course %}
<h1>{{ course }}</h1>
{% endif %}


<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <br>
    <label for="question">Question: </label>
    <br>
    <textarea name="answer" rows="5" cols="30"></textarea>
    <br>
    <label for="answer">Answer: </label>
    <br>
    <textarea name="answer" rows="10" cols="50"></textarea>
    <br>
    <input type="submit">
</form>

{% if form %}
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
<input type="submit" value="Submit" />
</form>
{% endif %}


{% endblock content %}
