{% extends "base.html" %}


{% block header %}
<h1>Digital Scholarship Summer 2019</h1>
{% endblock  %}
{% block content %}


<!--{% if course %}
<h1>{{ course }}</h1>
{% endif %}-->


<!-- <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <br>
    <label for="question">Question: </label>
    <br>
    <textarea name="answer" rows="5" cols="30"></textarea>
    <br>
    <label for="answer">Answer: </label>
    <br>
    <textarea name="answer" rows="10" cols="50"></textarea>
    <br>
    <input type="submit">
</form> -->
<!--
{% if form %}
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
<input type="submit" value="Submit" />
</form>
{% endif %} -->

<form action="" method="post"> 
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

source: <a href="https://www.lyricsondemand.com/tvthemes/arthurlyrics.html">www.lyricsondemand.com/tvthemes/arthurlyrics.html</a></p>
<iframe style="width:800px; height: 800px" src="https://hcdigitalscholarship.github.io/summer-django/p5chickens/yrong.html"></iframe>
<div class = "recent">
  <h2>Recent FAQs</h2>
  <aside>
       <p class="question">20 RECENT QS</p>
       <p class="answer">ANSWERS FOR QS</p>
         <br>
        <p class="question">20 RECENT QS</p>
        <p class="answer">ANSWERS FOR QS</p>
         <br>
  </aside>
  </div>
<br>
{% endblock content %}
