<nav>
  <ul>
    <li class="home"><a href="/">Home</a></li>
    <li class="about"><a class="active" href="/about">About Us</a></li>
    <li class="faqs"><a href="/faq">Frequently Asked Questions</a></li> <!-- add answer functionality -->

    <li class="add"><a href="/addquestion/">Ask a Question</a></li>
    <li class="research"><a href="/research"> Research Resources</a></li>
    <li class="contact"><a href="/contact">Contact</a></li>
    <div class="searchbar" style="float:right; padding:0px; margin-top:2px">
      <input type="text" placeholder="Search">
      </div>
  </ul>
  </nav>
