<nav>
  <ul>
    <li class="home"><a href="http://142.93.183.197">Home</a></li>
    <li class="about"><a class="active" href="http://142.93.183.197/about">About Us</a></li>
    <li class="faqs"><a href="http://142.93.183.197/faq">Frequently Asked Questions</a></li> <!-- add answer functionality -->

    <li class="add"><a href="http://142.93.183.197/addquestion/">Ask a Question</a></li>
    <li class="research"><a href="http://142.93.183.197/research"> Research Resources</a></li>
    <li class="contact"><a href="http://142.93.183.197/contact">Contact</a></li>
    <div class="searchbar" style="float:right; padding:0px; margin-top:2px">
      <input type="text" placeholder="Search">
      </div>
  </ul>
  </nav>
