<!-- momentarily not in use -->
<!-- {% extends "base.html" %} -->

{% block navbar %}
<div class="nav">
  <ul>
    <li class="home"><a href="#">Home</a></li>
    <li class="about"><a class="active" href="#">About Us</a></li>
    <li class="faqs"><a href="#">Frequently Asked Questions</a></li>
    <li class="add"><a href="#">Add FAQ</a></li>
    <li class="research"><a href="#"> Research Resources</a></li>
    <li class="contact"><a href="#">Contact</a></li>
  </ul>
</div>

{% if form %}
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
<input type="submit" value="Submit" />
</form>
{% endif %}

{% endblock navbar%}
