#have to add the faqs   

<!DOCTYPE html>
    <html>
      <head>
       <style>
        body {
          background-color: antiquewhite;
        }
        h1 {
            font-size: 30px;
          color: black;
        }
        p  {
          color: darkslategray;
        }
       </style>
      </head>
        <body>
         <h1>Recent FAQs</h1>
         <p>??</p>
        <br>
         <p>??</p>
        <br>
         <p>??</p>
        <br>
         <p>??</p>
        <br>
         <p>??</p>
        <br>
        </body>
        </html>
