#have to add the faqs   

{% extends "base.html" %}
{% block content %}
    <h2>Recent FAQs</h2>
       <p class="question">??</p>
       <p class="answer">??</p?
         <br>
        <p class="question">??</p>
        <p class="answer">??</p?
         <br>
       <p class="question">??</p>
       <p class="answer">??</p?
         <br>
        <p class="question">??</p>
        <p class="answer">??</p?
         <br>
       <p class="question">??</p>
       <p class="answer">??</p?
         <br>
{% endblock content %}
