/* static/base.css */

/* start with navigation css */
/* ref: https://www.w3schools.com/css/css_navbar.asp */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}
 aside {
    padding-left: 0.2rem;
    margin-left: 0.2rem;
    /*float: left;*/
    font-style: optima;
   width: 500px;
   height: 500px;
  /*overflow: scroll;*/
   border: 5px solid brown;
}
.recent h2 {
    font-family:Avenir;
    font-size: 25px;
    color: black;
    }
 .recent p.question {   
   color: black;
  }
.recent p.answer{
    color:darkslategray;
  }

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #E63F82;
  color: white;
} 
footer {
    padding: 1.2px 0;
    background: #add8e6;
    font-family: "Fjalla One", Verdana, Geneva, sans-serif;
    font-size: 13px;
    position: relative;
    /*text-transform: uppercase;*/
    /*text-align:center;*/
    /* you probably need to add some extra styles here */
}
